apiVersion: v1
kind: ServiceAccount
metadata:
  name: controller-manager
  namespace: system
  labels:
    app.kubernetes.io/name: restic-backup-operator
    app.kubernetes.io/component: controller
    app.kubernetes.io/managed-by: kustomize
